<section class="container bg-light mb-3 ltr">
    <h1>Informations pratiques</h1>
    <p class="text-center text-bold text-big bg-orange white">
        L’accueil des fidèles sera soumis aux respects des consignes sanitaires en vigueurs le 20 juin 2021.
    </p>
    <h3 class="text-center">
        Les ordinations débutant à 15&nbsp;h&nbsp;30, je vous conseille de venir en avance pour trouver une bonne place.
    </h3>
    <iframe width="100%" class="map" frameborder="0" allowfullscreen src="https://framacarte.org/fr/map/ordination-diaconale_99203?scaleControl=false&miniMap=true&scrollWheelZoom=true&zoomControl=true&allowEdit=false&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=null&onLoadPanel=undefined&captionBar=false#16/48.9592/2.8781"></iframe>
    <p class="text-right"><a href="https://framacarte.org/fr/map/ordination-diaconale_99203">{{ 'fullscreen'|trans({}, 'base') }}</a></p>
    <p>
        Des bus seront mis en place entre Melun et la cathédrale pour se rendre à l’ordination. Pour plus d’informations et pour
        réserver votre place, contacter la paroisse de Melun au <a href="tel:+33164522652">01&nbsp;64&nbsp;52&nbsp;26&nbsp;52</a> ou par mail <a href="mailto:secretariat@meluncatholique.fr">secretariat@meluncatholique.fr</a>
        <em>(Une participation financière vous sera demandée à l’inscription)</em>
    </p>
    <p class="text-center">
        La célébration sera diffusée en direct sur la <a href="https://www.youtube.com/user/newsletter77adm">chaîne YouTube du Diocèse de Meaux</a>.
    </p>

    <p class="text-right">
        <em><u>Prêtres et diacres&nbsp;:</u> ornements blancs</em>
    </p>
</section>