<article class="lg:grid lg:grid-cols-3 lg:gap-3">
    <div>
        <img src="/images/withBishop.jpg" alt="Avec mon évêque">
    </div>
    <div class="lg:col-span-2">
        <h2>My vocation</h2>
        <p>
            I'm Grégoire Oliveira Silva, born in 1989, I'm a seminarian for the diocese of <a href="http://www.catho77.fr/">Meaux</a> (France)
            and a member of the <a href="https://www.fraternite-saint-etienne.fr/">Fraternity of Saint Etienne</a>.
        </p>
        <p>
            Although I was baptized as a baby, I did not receive religious education at a younger age and even became very anti-clerical.
            In 2010, I had the grace to meet the Lord by following a friend who led me to a church. A few months later, the Lord challenged
            me with this question: "Why don't you become a priest?". Having matured this question, I entered into a spiritual foundation,
            sent by my diocese, to the <a href="http://seminaireversailles.fr/seminaire-de-versailles/la-maison-saint-jean-baptiste/une-annee-de-fondation-spirituelle/">Maison Saint Jean-Baptiste</a>
            in September 2012.
        </p>
    </div>
</article>

<article>
    <h2>Become a priest</h2>
    <p>
        Minimum of 7 years are needed to become priest. We are working for four pillars: human, spiritual, intellectual and pastoral formation.
    </p>
    <p>
        Usually, these are the stages of formation:
    </p>
    <ul>
        <li>1 year of spiritual foundation</li>
        <li>2 years of philosophy cycle </li>
        <li>3 years of theology cycle</li>
        <li>1 year as a deacon in a parish</li>
    </ul>

    <div class="lg:grid lg:grid-cols-2 lg:gap-3">
        <img src="/images/acolytat.jpg" alt="Institution à l'acolytat" class="img-left mb-3">
        <img src="/images/notreDame.jpg" alt="L'acolytat">
    </div>

    <p>
        Four stages punctuate this formation:
    </p>
    <ul>
        <li>Admission as a candidate for the priesthood where the Church publicly recognizes for the first time our vocation</li>
        <li>The institution for the readership</li>
        <li>The institution for the acolyte</li>
        <li>The diaconal ordination</li>
    </ul>
</article>

<article class="lg:grid lg:grid-cols-3 lg:gap-3">
    <div>
        <img src="/images/center.jpg" alt="Centre Sainte Rachel Jérusalem">
    </div>
    <div class="lg:col-span-2">
        <h2>My formation</h2>
        <p>
            I have a more atypical formation, with a few bonus years.
        </p>
        <ul>
            <li>my year of spiritual foundation at the Maison Saint Jean-Baptiste in Versailles (France)</li>
            <li>a year of pastoral internship in the Missionary Pole of Provins (France)</li>
            <li>2 years of philosophy cycle at the <a href="https://www.studiumdenotredamedevie.org">Studium of Notre Dame de Vie</a> in Saint Didier in the Vaucluse (France)</li>
            <li>an inter-cycle year in study mission in the same place</li>
            <li>2  years of study at the <a href="http://www.ebaf.edu">French Biblical and Archaeological School</a> and mission with the
                <a href="http://catholic.co.il">Vicariate of Saint-Jacques</a> for Hebrew-speaking Catholics, in Jerusalem</li>
            <li>2  years of pastoral internship in the Missionary Pole of Melun (France) with intellectual formation in the
                <a href="https://www.collegedesbernardins.fr/">Collège des Bernardins</a> (Paris)</li>
        </ul>
    </div>
</article>

<article>
    <h2>Deacon</h2>
    <p>
        Par l’ordination diaconale, celui qui se prépare au sacerdoce est marqué d’une empreinte indélébile qui le configure au Christ
        serviteur et manifeste à tous l’amour humble et serviable de Jésus-Christ qui
    </p>
    <blockquote>
        <p>
            <em>« n’est pas venu pour être servi, mais pour servir, et donner sa vie en rançon pour la multitude »</em>
            (Marc 10,45)
        </p>
    </blockquote>
    <p>
        Il reçoit la charge d’assister le prêtre pendant la liturgie, de proclamer l’Évangile et de prêcher, de célébrer les baptêmes et
        de bénir les mariages, de distribuer l’Eucharistie et de la porter aux malades, de présider à la prière des fidèles et aux funérailles,
        en portant particulièrement le souci des pauvres et des plus fragiles.
    </p>
    <p>
        Au jour de son ordination, le diacre s’engage à prier la liturgie des Heures pour l’Église et pour le monde, à demeurer en communion
        avec son évêque et ses successeurs, et en vue du sacerdoce, à vivre le célibat pour le service de Dieu et des hommes.
    </p>
</article>
