<article class="lg:grid lg:grid-cols-3 lg:gap-3">
    <div>
        <img src="/images/withBishop.jpg" alt="Avec mon évêque">
    </div>
    <div class="lg:col-span-2">
        <h2>Ma vocation</h2>
        <p>
            Je m’appelle Grégoire Oliveira Silva, né en 1989, je suis séminariste pour le <a href="http://www.catho77.fr/">diocèse de Meaux</a> (France)
            et membre de la <a href="https://www.fraternite-saint-etienne.fr/">Fraternité Saint Étienne</a>.
        </p>
        <p>
            Bien qu’ayant été baptisé bébé, je n’ai pas reçu d’éducation religieuse plus jeune et j’étais même devenu très anticlérical. En 2010, j’ai
            eu la grâce de rencontrer le Seigneur en suivant un ami qui m’a conduit dans une église. Quelques mois plus tard, le Seigneur m’interpella
            avec cette question&nbsp;: «&nbsp;Pourquoi ne deviendrais-tu pas prêtre&nbsp;?&nbsp;». Ayant fait mûrir cette question, je suis entré en
            fondation spirituelle, envoyé par mon diocèse, à la
            <a href="http://seminaireversailles.fr/seminaire-de-versailles/la-maison-saint-jean-baptiste/une-annee-de-fondation-spirituelle/">Maison Saint Jean-Baptiste</a>
            en septembre 2012.
        </p>
    </div>
</article>

<article>
    <h2>Devenir prêtre</h2>
    <p>
        La formation pour devenir prêtre dure au minimum 7 ans, mais s’adaptant à chaque candidat, elle peut facilement s’allonger si le besoin s’en
        fait ressentir. Elle s’appuie sur quatre piliers&nbsp;: formation humaine, spirituelle, intellectuelle et pastorale.
    </p>
    <p>
        Habituellement, voici les étapes de la formation&nbsp;:
    </p>
    <ul>
        <li>1 an de fondation spirituelle (enracinement dans la Parole de Dieu et la vie de prière et discernement de la vocation)</li>
        <li>2 ans de cycle de philosophie</li>
        <li>3 ans de cycle de théologie</li>
        <li>1 année de stage diaconal</li>
    </ul>

    <div class="lg:grid lg:grid-cols-2 lg:gap-3">
        <img src="/images/acolytat.jpg" alt="Institution à l'acolytat" class="img-left mb-3">
        <img src="/images/notreDame.jpg" alt="L'acolytat">
    </div>

    <p>
        Quatre étapes ponctuent cette formation&nbsp;:
    </p>
    <ul>
        <li>L’admission comme candidat au sacerdoce où l’Église reconnaît publiquement pour la première fois notre vocation</li>
        <li>L’institution au lectorat</li>
        <li>L’institution à l’acolytat</li>
        <li>L’ordination diaconale</li>
    </ul>
</article>

<article class="lg:grid lg:grid-cols-3 lg:gap-3">
    <div>
        <img src="/images/center.jpg" alt="Centre Sainte Rachel Jérusalem">
    </div>
    <div class="lg:col-span-2">
        <h2>Mon parcours</h2>
        <p>
            J’ai un parcours plus atypique, avec quelques années bonus qui ont été essentielles dans ma formation.
        </p>
        <ul>
            <li>mon année de fondation spirituelle à la Maison Saint Jean-Baptiste à Versailles</li>
            <li>une année de stage pastoral dans le Pôle Missionnaire de Provins</li>
            <li>2 ans de cycle de philosophie au <a href="https://www.studiumdenotredamedevie.org">Studium de Notre Dame de Vie</a> à Saint Didier dans le Vaucluse</li>
            <li>une année inter-cycle en mission d’étude au même endroit</li>
            <li>2 ans d’études à l’<a href="http://www.ebaf.edu">École Biblique et Archéologique Française</a> et de mission auprès du
                <a href="http://catholic.co.il">Vicariat Saint-Jacques</a> pour les catholiques de langue hébraïque, à Jérusalem</li>
            <li>2 ans de stage pastoral dans le Pôle Missionnaire de Melun avec la poursuite de ma formation intellectelle au
                <a href="https://www.collegedesbernardins.fr/">Collège des Bernardins</a></li>
        </ul>
    </div>
</article>

<article>
    <h2>Le diaconat</h2>
    <p>
        Par l’ordination diaconale, celui qui se prépare au sacerdoce est marqué d’une empreinte indélébile qui le configure au Christ
        serviteur et manifeste à tous l’amour humble et serviable de Jésus-Christ qui
    </p>
    <blockquote>
        <p>
            <em>« n’est pas venu pour être servi, mais pour servir, et donner sa vie en rançon pour la multitude »</em>
            (Marc 10,45)
        </p>
    </blockquote>
    <p>
        Il reçoit la charge d’assister le prêtre pendant la liturgie, de proclamer l’Évangile et de prêcher, de célébrer les baptêmes et
        de bénir les mariages, de distribuer l’Eucharistie et de la porter aux malades, de présider à la prière des fidèles et aux funérailles,
        en portant particulièrement le souci des pauvres et des plus fragiles.
    </p>
    <p>
        Au jour de son ordination, le diacre s’engage à prier la liturgie des Heures pour l’Église et pour le monde, à demeurer en communion
        avec son évêque et ses successeurs, et en vue du sacerdoce, à vivre le célibat pour le service de Dieu et des hommes.
    </p>
</article>
