{% extends 'base.html.twig' %}
{% trans_default_domain 'gifts' %}
{% block title %}{{ 'title'|trans }}{% endblock %}

{% block body %}
    <main class="ltr">
        <header id="main-header" class="hero">
            <h1>{{ 'title'|trans }}</h1>
        </header>

        {% include '_priestlyBar.html.twig' %}

        <section class="container bg-light">
            {% if app.request.getLocale() == 'he' %}
            <article>
                <h3 class="text-center bg-orange">
                    {{ 'no-translated'|trans({}, 'base') }}
                </h3>
            </article>
            {% endif %}

            <article>
                <p class="text-center text-big">
                    <strong>{{ 'explanation'|trans }}</strong>
                </p>
                <p class="text-center bg-orange p-4">
                    <a href="https://lydia-app.com/collect/34201-ordination-diaconale/fr" class="btn">{{ 'fundraiser-link'|trans }}</a>
                </p>
                {% if app.request.getLocale() == 'fr' %}
                    <p>
                        Vous pouvez aussi m’envoyer un chèque à&nbsp;:
                    </p>
                    {% if new_address %}
                        {% include 'home/_address-new.html.twig' %}
                    {% else %}
                        {% include 'home/_address-old.html.twig' %}
                    {% endif %}
                {% endif %}
            </article>
        </section>

        <section class="mt-4 mb-4 container bg-light">
            <p>
                {{ 'list-intro'|trans }}:
            </p>
        </section>
        <section class="container gifts-list grid md:grid-cols-2 lg:grid-cols-4 gap-4">
            {% for gift in gifts %}
            <article>
                <h4>{{ ('gift-'~gift.id~'.name')|trans }}</h4>
                <p class="text-center">
                    <img src="{{ asset('images/gifts/gift-'~gift.id~'.jpg') }}" alt="">
                </p>
                <p>
                    {{ ('gift-'~gift.id~'.description')|trans }}
                </p>
                <p class="gift-price">
                    {{ gift.price|format_currency('EUR') }}
                </p>
            </article>
            {% endfor %}
        </section>
        <section class="mt-4 mb-4 container bg-light text-center">
            <p>
                {{ 'list-outro'|trans }}
            </p>
        </section>
    </main>
{% endblock %}