{% extends 'base.html.twig' %}
{% block title %}{{ 'ordination'|trans({}, 'base') }}{% endblock %}

{% block body %}
    <main>
        <header id="main-header" class="hero">
            <h1>{{ 'ordination'|trans({}, 'base') }}</h1>
        </header>

        {% include '_priestlyBar.html.twig' %}

        {% if app.request.getLocale() == 'he' %}
        <article class="container bg-orange mt-3 white">
            <p class="text-center text-big text-bold">
                {{ 'no-translated'|trans({}, 'base') }}
            </p>
        </article>
        {% endif %}

        {% if app.request.getLocale() == 'fr' %}
            {% include 'home/_ordinationInfo-fr.html.twig' %}
        {% else %}
            {% include 'home/_ordinationInfo-en.html.twig' %}
        {% endif %}

        {% include '_youtubeVideo.html.twig' %}

        <section class="mt-3 container bg-light ltr">
            {% if app.request.getLocale() == 'en' %}
                <article class="bg-orange white">
                    <p class="text-center text-big text-bold">
                        {{ 'no-translated'|trans({}, 'base') }}
                    </p>
                </article>
            {% endif %}

            <h1>Déroulement</h1>
            <p>
                L’ordination d’un diacre en vue du sacerdoce, c’est-à-dire d’un diacre qui deviendra ensuite prêtre, est un grand évènement pour
                un diocèse. C’est pourquoi les chrétiens sont tous invités à se rendre à cette célébration.
            </p>
            <p class="text-center">
                <em>
                    Les photos sont celles de l’ordination diaconale des pères Maximilien Maurice et Jean-Baptiste Pelletier (© ADM)
                </em>
            </p>
            <h2 class="text-center">
                Présentation des candidats
            </h2>
            <div class="lg:grid lg:grid-cols-3 lg:gap-3">
                <div class="lg:col-span-2 text-center">
                    <img src="/images/ordination/ordination1.jpg" alt="Présentation des candidats">
                </div>
                <div>
                    <p>
                        La célébration débute par une grande procession d’entrée composée de nombreux servants d’autel, des séminaristes, des diacres, des prêtre et bien
                        sûr de l’évêque. C’est ce dernier qui a le pouvoir d’ordonner un homme. C’est à lui que l’Église confie un diocèse, il en est le pasteur.
                    </p>
                    <p>
                        Après un mot d’accueil, ceux qui vont être ordonnés au diaconat sont appelés et l’évêque interroge leur responsable pour savoir s’ils
                        ont les capacités requises. Ensuite, il s’adresse aux ordinands pour leur demander s’ils acceptent de s’engager au célibat. C’est à partir de
                        ce moment que le futur prêtre est lié définitivement par cette promesse qu’il a exprimé publiquement et qu’il devra respecter jusqu’à
                        sa mort.
                    </p>
                </div>
            </div>

            <h2 class="text-center">
                Liturgie de la Parole
            </h2>
            <p>
                Ensuite, nous écoutons la Parole de Dieu à partir de lectures extraites de la Bible. À partir d’elles, l’évêque donnera son homélie
                pour nous aider à comprendre ces lectures, mais aussi le sens du diaconat.
            </p>

            <h2 class="text-center">
                Liturgie de l’ordination
            </h2>
            <div class="lg:grid lg:grid-cols-3 lg:gap-3">
                <div class="lg:col-span-2 text-center">
                    <img src="/images/ordination/ordination2.jpg" alt="Litanie des saints">
                </div>
                <div>
                    <h3>
                        Engagement des ordinands
                    </h3>
                    <p>
                        Tout d’abord, les ordinands s’engageront à accomplir le ministère qu’ils vont recevoir, au service de l’évêque et de ses prêtres pour faire
                        progresser le peuple chrétien. Ils s’engageront également à proclamer la foi de l’Église et à conformer leur vie à l’exemple du Christ. Ensuite,
                        ils s’engageront à la prière quotidienne, notamment en priant la Liturgie des Heures qui vient rythmer chaque journée. Enfin, ils
                        promettent obéissance à l’évêque et à ses successeurs.
                    </p>

                    <h3>
                        Litanie des saints
                    </h3>
                    <p>
                        Ce moment est souvent vêcu comme un des plus forts de la célébration&nbsp;: on invoque tous les saints pour qu’ils viennent par leur prière
                        soutenir l’Église et les futurs diacres. Durant cette supplication, les ordinands sont allongés à plat ventre, prostrés en signe de leur
                        totale soumission à Dieu et à sa volonté.
                    </p>
                </div>

            </div>

            <h3 class="text-center">
                La prière d’ordination
            </h3>
            <p>
                L’evêque impose ses mains sur la têtes des ordinands avant de dire une longue prière. C’est par ce geste et ces paroles que ces hommes
                deviennent diacres.
            </p>
            <div class="lg:grid lg:grid-cols-3 lg:gap-3">
                <div>
                    <img src="/images/ordination/ordination3.jpg" alt="Imposition des mains">
                </div>
                <blockquote class="lg:col-span-2">
                    <p>
                        Sois avec nous, Dieu tout-puissant,<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;nous t’en prions, sois avec nous,<br>
                        Toi qui donnes toutes grâces,<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;qui distribues les charges<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;et répartis les divers ordres,<br>
                        Toi, le Dieu éternel qui fais toutes choses nouvelles,<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;qui veilles sur le monde avec amour<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;et disposes à tout moment ce qui convient,<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;par Jésus Christ, ton Fils, notre Seigneur<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;ta Parole vivante, ta force et ta sagesse.
                    </p><p>
                        Tu construis ton Église, qui est le Corps du Christ,<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;par les dons infiniment variés de ta grâce&nbsp;:<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;tu veux que chacun de ses membres<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;ait une fonction particulière,<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;et que tous contribuent, par l’Esprit Saint,<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;à l’unité de cet ensemble admirable.<br>
                        Pour la faire grandir en un temple nouveau,<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;tu as établi des ministres de trois ordres différents,<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;les évêques, les prêtres, les diacres,<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;chargés, les uns les autres, de te servir,<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;comme autrefois, déjà, dans la première Alliance,<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;tu avais mis à part les fils de la tribu de Lévi<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;pour le service de ta demeure.
                    </p><p>
                        C’est ainsi qu’aux premiers temps de ton Église,<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;les Apôtres de ton Fils,<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;soucieux de se livrer en toute liberté<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;à la prière et à l’annonce de la Parole,<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;ont choisi sous l’action de l’Esprit Saint<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;sept hommes estimés de tous<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;qui les aideraient dans le service quotidien&nbsp;:<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;en leur imposant les mains et en priant sur eux,<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;ils les chargèrent d’une part de ce service,<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;le ministère des tables.
                    </p><p>
                        Regarde maintenant, Dieu très bon,<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;ceux à qui nous imposons les mains aujourd’hui&nbsp;:<br>
                        Nous te supplions de les consacrer toi-même,<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;pour qu’ils servent à l’autel et accomplissent la fonction diaconale.
                    </p><p>
                        <em>Envoie sur eux, Seigneur, l’Esprit Saint&nbsp;:<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;par lui, qu’ils soient fortifiés<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;des sept dons de ta grâce,<br>
                            &nbsp;&nbsp;&nbsp;&nbsp;pour remplir fidèlement leur ministère.</em>
                    </p><p>
                        Fais croître en eux les vertus évangéliques&nbsp;:<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;qu’ils soient animés d’une charité sincère,<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;qu’ils prennent soin des malades et des pauvres,<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;qu’ils fassent preuve d’une autorité pleine de mesure<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;et d’une grande pureté de cœur,<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;qu’ils s’efforcent d’être dociles à l’Esprit.
                    </p><p>
                        Par leur fidélité à tes commandements<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;et l’exemple de leur conduite,<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;qu’ils soient un modèle pour le peuple saint&nbsp;;<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;en donnant le témoignage d’une conscience pure,<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;qu’ils demeurent fermes et inébranlables dans le Christ.
                    </p><p>
                        En imitant ainsi ton Fils Jésus,<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;venu pour servir, et non pour être servi,<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;qu’ils obtiennent de partager sa gloire dans le ciel,<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;lui qui règne avec toi et le Saint-Esprit,<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;maintenant et pour les siècles des siècles.
                    </p>
                </blockquote>
            </div>

            <h3 class="text-center">
                Rites complémentaires
            </h3>
            <div class="lg:grid lg:grid-cols-3 lg:gap-3">
                <div class="lg:col-span-2">
                    <img src="/images/ordination/ordination4.jpg" alt="Complément">
                </div>
                <div>
                    <p>
                        Viennent ensuite deux actions qui signifient à tous que les deux ordinands sont maintenant ordonnés et donc diacres&nbsp;:
                    </p>
                    <p>
                        Ils sont vêtus de l’étole diaconale et de la dalmatique. La première sera portée à chaque fois qu’ils accompliront leur ministère.
                        La deuxième est revêtue à la messe, surtout les dimanches et les jours de fêtes.
                    </p>
                    <p>
                        Enfin, on leur remet l’Évangéliaire qui est le livre contenant les Évangiles qui sont lus à la messe. En effet, c’est au diacre de
                        faire cette lecture et ils auront aussi à l’expliquer dans leurs homélies.
                    </p>
                </div>
            </div>


            <h3 class="text-center">
                Liturgie eucharistique
            </h3>
            <div class="lg:grid lg:grid-cols-3 lg:gap-3">
                <div class="lg:col-span-2">
                    <img src="/images/ordination/ordination5.jpg" alt="Doxologie">
                </div>
                <p>
                    La messe se poursuit comme d’habitude, mais les nouveaux diacres accomplissent leur nouveau ministère en assistant l’évêque et ses prêtres
                    à l’autel.
                </p>
            </div>
        </section>
    </main>
{% endblock %}