{% extends 'base.html.twig' %}
{% block title %}{{ 'reception'|trans({}, 'base') }}{% endblock %}

{% block body %}
 <main>
    <header id="main-header" class="hero">
        <h1>{{ 'reception'|trans({}, 'base') }}</h1>
    </header>

     {% include '_priestlyBar.html.twig' %}

    {% if app.request.getLocale() != 'fr' %}
        <article class="container bg-orange mt-3">
            <p class="text-center text-big bg-orange white">
                <strong>{{ 'no-translated'|trans({}, 'base') }}</strong>
            </p>
        </article>
    {% endif %}

     <section class="container bg-light mt-3 ltr">
         <p class="text-center text-big text-bold">
            J’espère pouvoir partager avec vous un moment convivial à l’issue de la célébration !
         </p>
     </section>
     <section class="container bg-light mt-3 ltr">
         <p>
             Le diocèse de Meaux offrira un verre après la messe d’ordination, dans la cours du palais épiscopal.
         </p>
         <iframe width="100%" class="map" frameborder="0" allowfullscreen src="https://framacarte.org/fr/map/verre-de-lamitie_103907?scaleControl=false&miniMap=true&scrollWheelZoom=true&zoomControl=true&allowEdit=false&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=null&onLoadPanel=undefined&captionBar=false#16/48.9592/2.8781"></iframe>
         <p class="text-right"><a href="https://framacarte.org/fr/map/verre-de-lamitie_103907">{{ 'fullscreen'|trans({}, 'base') }}</a></p>
     </section>
     <section class="container bg-light mt-3 ltr">
         <p class="text-center text-big text-bold">
             Compte tenu des mesures sanitaires, la réception qui suivra sera reservée à un nombre limité d’invités.
         </p>
         <p>
             J’ai malheureusement dû faire un choix difficile concernant les personnes conviées à la réception. J’espère pouvoir
             me rattraper l’année prochaine pour mon ordination sacerdotale&nbsp;!
         </p>
         <p class="text-center text-big text-bold">
             Les invités sont ceux ayant reçu un petit carton en plus du faire part, ou bien ceux à qui je l’aurais dis directement
         </p>
         <p>
             La réception se déroulera au <em>Centre paroissial de la paroisse de Melun</em> au <em>49 rue du Général de Gaulle 77000 Melun</em>
             à partir de <em>19&nbsp;h&nbsp;30</em>.
         </p>
         <p>
             Un parking est accessible au <em>16 rue du Président Despatys</em>, mais le nombre de place est limité&nbsp;: si vous n’avez pas de
             difficultés à marcher un peu, je vous invite à vous garer dans les environs.
         </p>

         <iframe width="100%" class="map" frameborder="0" allowfullscreen src="https://framacarte.org/fr/map/ordination-diaconale_99203?scaleControl=false&miniMap=true&scrollWheelZoom=true&zoomControl=true&allowEdit=false&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=null&onLoadPanel=undefined&captionBar=false#16/48.5435/2.6585"></iframe>
         <p class="text-right"><a href="https://framacarte.org/fr/map/ordination-diaconale_99203">{{ 'fullscreen'|trans({}, 'base') }}</a></p>
     </section>
 </main>
{% endblock %}