{% if priestly_link != 'null' %}
    <nav class="text-center p-4 bg-success">
        <a href="{{ priestly_link }}" class="btn">
            <i class="fa fa-external-link-alt"></i> {{ 'Priestly link'|trans({}, 'base') }}
        </a>
    </nav>
{% endif %}